<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADD THE FUCKING PET!</title>
</head>
<body>
	<div align="center">	
			<h1>ADD NEW PET</h1>
			<br/>
			<form action="#" th:action="@{/savepet}" th:object="${pet}" method="post">
				<table border="0" cellpadding="10">
					<tr>
						<td>Name:</td>
						<td><input type="text" th:field="*{petname}" /></td>
					</tr>
					<tr>
						<td>Class:</td>
						<td><input type="text" th:field="*{petclass}" /></td>
					</tr>				
					<tr>
						<td>Price:</td>
						<td><input type="number" th:field="*{petprice}" /></td>
					</tr>				
					<tr>
						<td colspan="2"><button type="submit">Save</button></td>
					</tr>
				</table>
			</form>
		</div>
</body>
</html>